@model Pach_OS.Models.Compra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h1 class="fw-bold" style="font-family:serif">INFORMACION</h1>
    </div>

    <div>
        <h3>Compra</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Fecha
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaCompra)
            </dd>
            <dt class="col-sm-2">
                Total
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class="col-sm-2">
                Proveedor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdProveedorNavigation.Nit)
            </dd>
            <dt class="col-sm-2">
                Usuario
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdUsuarioNavigation.NumDocumento) - @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre) @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido)
            </dd>
        </dl>
    </div>
    <div>
        <h4>Detalles de la Compra</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Insumo
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DetallesCompras)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDetallesCompras)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Insumos.NomInsumo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioInsumo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align: -webkit-right;font-size: 23px;">
        <dt class="col-sm-2">
            Total de la Compra
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </div>

    <div class="row" style="padding: 20px">
        <a class="btn btn-dark" asp-action="CreateDetalles" asp-controller="Compras" asp-route-id="@Model?.IdCompras">Crear Detalle</a> |
        <a asp-action="Index" asp-controller="Compras">Volver</a>
    </div>

</div>