@model IEnumerable<Pach_OS.Models.Compra>

@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="fw-bold" style="font-family:serif">COMPRA</h1>
</div>

<div class="container">

    <div class="row justify-content-between">
        <div class="col-4">
            <a asp-area="" class="btn btn-success" style="width: 100px; margin-bottom: 5px" asp-action="Create" asp-controller="Compras">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
                Nuevo
            </a>
            @*<a asp-area="" asp-controller="DetallesCompras" asp-action="Index" class="btn btn-outline-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
                Detalles
            </a>*@
        </div>
    </div>

    <p></p>

    <div class="row" style="padding: 30px">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Fecha Compra
                        </th>
                        <th>
                            Proveedor
                        </th>
                        <th>
                            Total
                        </th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.NumDocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCompra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Nit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.IdCompras">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Fecha Compra
                        </th>
                        <th>
                            Proveedor
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
            </table>
        }
    </div>

</div>
