@model IEnumerable<Pach_OS.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamanoPizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximoSabores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamanoPizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximoSabores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.IdCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProductos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
