@model Pach_OS.Models.ProductosInsumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductosInsumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantInsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantInsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insumos.IdInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productos.IdProductos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
